<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Compra (Gravada)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-input  #input 
                    [(ngModel)]="inputTexto" 
                    (keyup.enter)="adiciona()">
        </ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="adiciona()" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item *ngFor="let item of listaService.getLista(); 
                      let indice=index">
      <ion-label>{{item[0]}} {{item[1]}}</ion-label>
      <ion-fab-button size="small" 
                      color="danger"
                      (click)="remover(item[0])">
        <ion-icon name="remove-outline"></ion-icon>
      </ion-fab-button>
    </ion-item>
  </ion-list>  
  <ion-button (click)="listaService.limpar()">LIMPAR TUDO</ion-button>
</ion-content>